*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}
body{
    background-color: #3d5a80;
} 

li{
    list-style: none;
}

.icon_logo{
  background-size: 100% 100%;
  border-radius: 50%;
}

.navbar a{
    text-decoration: none;
    color: #ffffff;
    font-size: 1rem;
}
.navbar a:hover{
    color: orangered;
}
/* header */
header{
    position: relative;
    padding: 0 .3rem;
    z-index: 100;
}
.navbar{
    position: absolute;
    width: 100%;
    height: 60px;
    top: -.3rem;
    max-width: 98%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    backdrop-filter: blur(10px);
 
}

.navbar .logo a{
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .links{
    display: flex;
    gap: 2rem;
}


.links li:hover{
  text-decoration: underline;
  background-color: #f5a20a;
  padding: 0.2rem 1rem;
  border-radius: 35px;
  font-weight: bold;
}
.navbar .toggle_btn{
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.action_btn{
    background-color: rgb(255, 167, 3);
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

.action_btn:hover{
    color: rgb(197, 32, 32);
    scale: 1.02;
}

.action_btn:active{
    scale: 0.95;
}

.dropdown_menu{
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    position: fixed;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open{
    height: 120px;
}

.dropdown_menu li{
    padding: 0.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu a{
    color: #fff;
    font-size: 1rem;
    text-decoration: none;
}

.dropdown_menu a:hover{
    color: #270501;
    background-color: #f5a20a;
    padding: 0.5rem 1rem;
    border-radius: 35px;
    font-weight: bold;
}

.dropdown_menu .action_btn{
    width: 100%;
    display: flex;
    justify-content: center;
}

/* responsiveness*/
@media (max-width: 992px) {
    .navbar .links,
    .navbar .action_btn{
        display: none;
    }

    .navbar .toggle_btn{
        display: block;
    }

    .dropdown_menu{
        display: block;
    }
}

@media (max-width: 576px){
    .dropdown_menu{
        left: 2rem;
        width: unset;
    }
}

.container {
    position: relative;
    width: 90%;
    margin: 40px auto;
    text-align: center;
    top: .9rem;
}
.container h1{
    font-size: 28px;
}

.container iframe{
    border-radius: 10px;
    align-items: center;
    height: 100dvh;
    width: 100dvh;
}

@media (max-width: 768px) {
    .container iframe{
        width: 45dvh;
    }
}

.map {
    width: 100%;
    height: 300px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
}

.photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.photo {
    width: 200px;
    height: 150px;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
}